In [2]:
%pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.4-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Downloading mysqlclient-2.2.4-cp312-cp312-win_amd64.whl (203 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.4
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install mysql-connector-python sqlalchemy pandas

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Collecting sqlalchemy
  Using cached SQLAlchemy-2.0.31-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: pandas in c:\users\elcot\documents\guvi data science\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\elcot\documents\guvi data science\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Using cached greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\elcot\documents\guvi data science\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elcot\documents\guvi data science\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elcot\documents\guvi data science\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elcot\documents\guvi data science\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\elcot\documents\guvi data science\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---- ----------------------------------- 1.6/14.3 MB 7.6 MB/s eta 0:00:02
   --------- ------------------------------ 3.4/14.3 MB 8.0 MB/s eta 0:00:02
   ----------------- ---------------------- 6.3/14.3 MB 10.2 MB/s eta 0:00:01
   --------------------------- ------------ 10.0/14.3 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 13.5 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 13.5 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 10.4 MB/s eta 0:00:00
Using cached SQLAlchemy-2.0.31-cp312-cp312-win_amd64.whl (2.1 MB)
Using cached greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
Installing collected packages: mysql-connector-python, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 mysql-connector-python-9.0.0 sqlalchemy-2.0.31

In [22]:
import pandas as pd
finaldf=pd.read_csv('Redbus.csv')
finaldf

,Busroutes,Bus Routes Link,Bus Name,Bus_Type,Starting_Time,Rating,Dropping_Time,Fare,Available Seats,Duration
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 9356,Super Luxury (Non AC Seater 2+2 Push Back),11:30,4.0,06:05,446.0,4,06: 35:00
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,3.6,04:30,720.0,3,05: 00:00
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3601,Super Luxury (Non AC Seater 2+2 Push Back),12:00,2.5,08:20,446.0,2,08: 20:00
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 35269,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),12:15,3.5,06:25,683.0,4,06: 10:00
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3515,Super Luxury (Non AC Seater 2+2 Push Back),12:30,2.0,08:05,446.0,2,07: 35:00
...,...,...,...,...,...,...,...,...,...,...
8892,Ludhiana to Delhi Airport,https://www.redbus.in/bus-tickets/ludhiana-to-...,PEPSU (Punjab) - 67128,Volvo AC Seater (2+2),08:50,3.9,04:50,969.0,4,08: 00:00
8893,Ludhiana to Delhi Airport,https://www.redbus.in/bus-tickets/ludhiana-to-...,PEPSU (Punjab) - 67164,Volvo AC Seater (2+2),09:50,4.3,05:50,969.0,3,08: 00:00
8894,Ludhiana to Delhi Airport,https://www.redbus.in/bus-tickets/ludhiana-to-...,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),01:29,4.5,11:00,3300.0,4,09: 31:00
8895,Ludhiana to Delhi Airport,https://www.redbus.in/bus-tickets/ludhiana-to-...,Indo Canadian Transport Pvt. Ltd.,A/C Sleeper (2+1),03:29,4.5,01:00,3850.0,4,09: 31:00
8896,Ludhiana to Delhi Airport,https://www.redbus.in/bus-tickets/ludhiana-to-...,Indo Canadian Transport Pvt. Ltd.,A/C Semi Sleeper (2+2),12:29,4.5,10:00,3300.0,4,09: 31:00

In [32]:
import mysql.connector


mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
 

)
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000252E88D4D40>

In [34]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS redbus")

In [35]:
import mysql.connector


mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
 database ='redbus'

)
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000252E7E55BB0>

In [39]:
# Create table if not exists
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS redbus_details(
        id INT AUTO_INCREMENT PRIMARY KEY,
        Busroutes VARCHAR(255) ,
        Bus_Routes_Link VARCHAR(255) ,
        Bus_Name VARCHAR(255) ,
        Bus_Type VARCHAR(50) ,
        Starting_Time VARCHAR(255)   ,
        Rating FLOAT ,
        Dropping_Time  VARCHAR(255)  ,
        Fare DECIMAL(10,2) ,
        Available_Seats INT ,
        Duration VARCHAR(255)
    )
''')

In [26]:
finaldf.fillna('', inplace=True)# Replace NaN values with a default value

In [40]:

# SQL query to insert data into bus_details table
insert_query = '''
    INSERT INTO redbus_details(
        Busroutes,
        Bus_Routes_Link,
        Bus_Name,
        Bus_Type,
        Starting_Time,
        Rating,
        Dropping_Time,
        Fare,
        Available_Seats,
        Duration
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s,%s)
'''

# Convert final_df to list of tuples
data = finaldf.values.tolist()

# Insert data
mycursor.executemany(insert_query, data)

# Commit the transaction

mydb.commit()

print("Values inserted successfully")

Values inserted successfully